<div class="container text-center">
    <img width="300px"src="/assets/img/burger.png" alt="">
    <h4 style="color: rgb(198, 92, 0);">Eat-Da-Burger!</h4>
    <form class="addBurger">
        <textarea name="burger_menu" id="burger_menu" cols="30" rows="2" placeholder='Enter a burger you want to eat Click the "submit" button.'></textarea>
        <br>
        <button class="btn btn-sm btn-primary">submit</button>
    </form>
</div>